:root{
    --bold-main-color: #000000;
    --light-main-color: #444444;
    --red-color:#f30067;
    --gold-color:#ffac41;
    --blue-color:#00d1cd;
    --light-color:#00d1cd;
}
@font-face {
    font-family: studioFont;
    src: url("../fonts/newfont.TTF");
}

* {
    box-sizing: border-box;
}
body {
    background-color: var(--light-main-color);

}

#nav_bar {
    background-color: transparent;
   position: absolute;
}
#nav_logo {
    color: var(--light-main-color);
    border: 1px solid var(--red-color);
    text-shadow: 1px 1px 5px var(--red-color);
}
#jumbo{
    background-image: url("../img/theaterentrance.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.search {
    color: white;
    font-size: 20px;
    font-family: studioFont;
}
.searchBar {
    color: white;
    background-color: transparent;
}
#img-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#img-display img {
    height: 300px;
    max-width: 250px;
    margin: 15px;
    border: 2px outset grey;
    box-shadow: 0px 0px 3px 20px;
}

#img-display div {
    margin: 20px;
    /*background-image: url("../img/goldborder.jpg");*/
    background-color: black;
    box-shadow: 0px 0px 10px 5px white;
    border-radius: 5px;

}
#popcorn-guy{
    background-color: var(--red-color);
}
#popcorn-guy img {
    height: 200px !important;
    width: 200px !important;
}
.lds-grid {
    display: inline-block;
    position: relative;
    width: 240px;
    height: 240px;
}
.lds-grid div {
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    top: 24px;
    left: 24px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    top: 24px;
    left: 96px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    top: 24px;
    left: 168px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    top: 96px;
    left: 24px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    top: 96px;
    left: 96px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    top: 96px;
    left: 168px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    top: 168px;
    left: 24px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    top: 168px;
    left: 96px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    top: 168px;
    left: 168px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
/* TODO replace search text with icon
TODO neon button effect maybe baby blue with white glow
TODO add rc car logo with company logo
 */

